# conda activate myenv_DSL

pyabsa==2.3.3
transformers==4.29.2
tokenizers==0.13.3
sentencepiece
torch
spacy
pandas
tqdm
spacy 
# download 
# en_core_web_sm
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
